POSTGRES_DB=morgensearch
POSTGRES_USER=morgen
POSTGRES_PASSWORD=morgen
TELEGRAM_BOT_TOKEN=PUT_YOUR_TELEGRAM_BOT_TOKEN_HERE
LYRICS_SOURCE=lyricsovh
AUTO_SYNC_LYRICS=false
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin
